{% extends 'authenticate/base1.html' %}

{% block content%}
<nav>
    <div class="d-flex justify-content-between px-4 pt-2">
        <div class="logo">
            {% load static %}
            <img src="{% static 'assets/netflix_logof.png' %}" alt="logo" class="img-fluid" style="height:15vh;">
        </div>
        <div class="signinbtn">
            <a href=""><button class="btn fs-3"style="background-color:white;">sign in</button></a>
        </div>
    </div>
</nav>
<hr>
<div class="step">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
               <div class="top text-center p-4">
                <img src="{% static 'assets/Devices.png' %}" alt="devices" class="img-fluid">
                <p>Step 1 of 3</p>
                <h2>Finish setting up your account</h2>
                <p class="fs-5">Netflix is personalized for you. Create a password to watch on any device at any time.</p>
                <button class="btn fs-5" style="background-color:rgb(228,8,20);color:white;height: 70px;width:100%;">Next</button>
               </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="top  p-4">
                    <p>Step 1 of 3</p>
                    <h2>Create a password to start your membership</h2>
                    <p class="fs-5">Just a few more steps and you're done!
                        We hate paperwork, too.</p>
                    <form action="" method="POST">
                    {% csrf_token %}
    
                        <div class="input-group">
                            <p>{{ form.email }}</p> 
                             
    
                            {% for error in field.errors %}
                                <small style="color: red">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="input-group">
                            <p><p>{{ form.password1 }}</p></p>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="marketing" id="mrkt" > Please Do not email Marketing offers.
                        </div>
                        <button class="btn fs-5" style="background-color:rgb(228,8,20);color:white;height: 70px;width:100%;" type="submit">Next</button>
                </form> 
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="top text-center p-4">
                    <img src="{% static 'assets/Checkmark.png' %}" alt="devices" class="img-fluid">
                    <p>Step 1 of 3</p>
                </div>
                <div class=" container list">
                    <h2>Choose your plan.</h2>
                    <ul>
                        <li class="fs-3" style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="56" height="86" fill="#e50914" class="bi bi-check-lg float-start" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                          </svg> No commitments, cancel anytime.</li>
                        <li class="fs-4" style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="56" height="86" fill="#e50914" class="bi bi-check-lg float-start" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                          </svg>Everything on Netflix for one low price.</li>
                        <li class="fs-4" style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="56" height="86" fill="#e50914" class="bi bi-check-lg float-start" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                          </svg>No ads and no extra fees. Ever.</li>
                    </ul>
                </div>
                <button class="btn fs-5" style="background-color:rgb(228,8,20);color:white;height: 70px;width:100%;" type="submit">Next</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <p>Step 2 of 3</p>
        <h2>Choose the plan that’s right for you</h2>
        <ul>
            <li>Watch all you want. Ad-free.</li>
            <li>Recommendations just for you.</li>
            <li>Change or cancel your plan anytime.</li>
        </ul>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Mobile</th>
                <th scope="col">Basic</th>
                <th scope="col">Standard</th>
                <th scope="col">Premium</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% comment %} <th scope="row">Monthly Price</th> {% endcomment %}
                <td>Monthly Price</td>
                <td>KES300</td>
                <td>KES700</td>
                <td>KES1100</td>
                <td>KES1450</td>
              </tr>
              <tr>
                <td>Video Quality</td>
                <td>Good</td>
                <td>Good</td>
                <td>Better</td>
                <td>Best</td>
              </tr>
              <tr>
                <td>Resolution</td>
                <td>480p</td>
                <td>480p</td>
                <td>1080p</td>
                <td>4K+HDR</td>
              </tr>
              <tr>
                <td>Devices you can use to watch</td>
                <td>
                    <div class="svgm text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <p>Phone</p>
                    </div>
                    <div class="svgm text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tablet-landscape" viewBox="0 0 16 16">
                            <path d="M1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4zm-1 8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8z"/>
                            <path d="M14 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                        </svg>
                        <p>Tablet</p>
                    </div>
                </td>
                <td>
                    <div class="svgb text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <p>Phone</p>
                    </div>
                    <div class="svgb text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tablet-landscape" viewBox="0 0 16 16">
                            <path d="M1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4zm-1 8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8z"/>
                            <path d="M14 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                        </svg>
                        <p>Tablet</p>
                    </div>
                    <div class="svgb text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                        </svg>
                        <p>Computer</p>
                    </div>
                    <div class="svgb text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                            <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                        </svg>
                        <p>TV</p>
                    </div>
                </td>
                <td>
                    <div class="svgs text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <p>Phone</p>
                    </div>
                    <div class="svgs text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tablet-landscape" viewBox="0 0 16 16">
                            <path d="M1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4zm-1 8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8z"/>
                            <path d="M14 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                        </svg>
                        <p>Tablet</p>
                    </div>
                    <div class="svgs text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                        </svg>
                        <p>Computer</p>
                    </div>
                    <div class="svgs text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                            <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                        </svg>
                        <p>TV</p>
                    </div>
                </td>
                <td>
                    <div class="svgp text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <p>Phone</p>
                    </div>
                    <div class="svgp text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tablet-landscape" viewBox="0 0 16 16">
                            <path d="M1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4zm-1 8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8z"/>
                            <path d="M14 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                        </svg>
                        <p>Tablet</p>
                    </div>
                    <div class="svgp text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                        </svg>
                        <p>Computer</p>
                    </div>
                    <div class="svgp text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                            <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                        </svg>
                        <p>TV</p>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="width:83%;">
          <p>HD (720p), Full HD (1080p), Ultra HD (4K) and HDR availability subject to your internet service and device capabilities. Not all content is available in all resolutions. See our Terms of Use for more details.</p>
          <p>Only people who live with you may use your account. Watch on 4 different devices at the same time with Premium, 2 with Standard, and 1 with Basic and Mobile.</p>
          </div>
          <div class="text-center">
            <button class="btn fs-5 text-center" style="background-color:rgb(228,8,20);color:white;height: 70px;width:50%;" type="submit">Next</button>
          </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
               <div class="top text-center p-4">
                <img src="{% static 'assets/Lock.png' %}" alt="devices" class="img-fluid">
                <p>Step 3 of 3</p>
                <h2>Choose how to pay</h2>
                <p class="fs-5">Your payment is encrypted and you can change how you pay anytime.</p>
                <p class="fs-5 fw-bold">Secure for peace of mind. <br>Cancel easily online.</p>
                <button class="btn-outline fs-5" style="height: 70px;width:100%;">Next</button>
               </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}