{% extends 'authenticate/base1.html' %}

{% block content %}
<main style="background-color:black;">
    <nav>
        <div class="d-flex flex-row justify-content-between px-4 pt-2 fixed-top">
            <div class="logo">
                {% load static %}
                <img src="{% static 'assets/netflix_logof.png' %}" alt="logo" class="img-fluid" style="height:10vh;">
            </div>
            <div class="signinbtn">
                <a href=""><button class="btn "style="background-color:rgb(228,8,20);color:white;">sign in</button></a>
            </div>
        </div>
    </nav>
    
    <section style="background-image: url({% static 'assets/cover_start.jpg' %});background-repeat: no-repeat;
    background-size: cover;opacity: 0.7;">
    <br><br><br><br><br><br><br><br>
     <div class="container text-white text-center">
        <p class="fs-1 fw-bold">Unlimited movies, TV <br> shows, and more.</p>
        <p class="fs-5 fw-bold">Watch anywhere. Cancel anytime.</p>
        <p>Ready to watch? Enter your email to create or restart your membership.</p>
        <form action="">
            <input type="email" name="email" id="email">
            <button class="btn "style="background-color:rgb(228,8,20);color:white;">Get Started<i class="bi bi-play"></i></button>
        </form>
     </div>
     <br><br><br><br><br><br>
    </section>
    <hr class="border border-dark border-5 opacity-75">
    <section class="container">
        <div class="container d-flex">
            
            <div class="text-start text-white">
                <br><br><br><br><br><br><br><br>
                <p class="p-2 fs-1 fw-bold">Enjoy on your TV.</p>
                <p>Watch on Smart TVs, Playstation, Xbox,<br> Chromecast, Apple TV, Blu-ray players, and<br> more.</p>
                
            </div>
            <div class="pic-start p-4" style="background-image: url({% static 'assets/tv.png' %});">
                <video src="{% static 'assets/video-tv-0819.m4v' %}" autoplay muted loop></video>
               
            </div>
        </div>
    </section>
    <hr class="border border-dark border-5 opacity-75">
    <section>
        <div class="container d-flex text-center">
            <div class="container img">
                <img src="{% static 'assets/mobile-0819.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="container text-start text-white">
                <br><br><br><br><br><br><br><br>
                <h2>Download your shows <br>to watch offline.</h2>
                <p>Save your favorites easily and always have <br>something to watch.</p>
            </div>

        </div>
    </section>
    <hr class="border border-dark border-5 opacity-75">
    <section>
        <div class="container d-flex p-4">
            <div class="container text-white">
                <h2>Watch everywhere.</h2>
                <p>Stream unlimited movies and TV shows on <br>your phone, tablet, laptop, and TV.</p>
            </div>
            <div class="container">

            </div>
        </div>
    </section>
    <hr class="border border-dark border-5 opacity-75">
    <section>
        <div class="container d-flex">
            <div class="container">
                <img src="{% static 'assets/kids_start.png'%}" alt="" class="img-fluid">
            </div>
            <div class="container text-white">
                <br><br><br><br><br><br><br><br>
                <h2 class="text-start text-wrap">Create profiles for <br>kids.</h2>
                <p>Send kids on adventures with their favorite <br>characters in a space made just for them—free <br>with your membership.</p>
            </div>
        </div>

    </section>
    <hr class="border border-dark border-5 opacity-75">
    <section>
        <div class="container d-flex">
            <div class="container text-white">
                <h2>Have an Android Phone? Get our new free plan!</h2>
                <p>Watch a selection of new movies and TV shows without adding any payment details!</p>
                <p>Get the app<i class="bi bi-play"></i></p>
            </div>
            <div class="container">
                <img src="{% static 'assets/phone_start.jpg'%}" alt="" class="img-fluid">
            </div>
        </div>
    </section>
    <hr class="border border-dark border-5 opacity-75">

</main>
{% endblock %}
