{% extends 'authenticate/base1.html' %}

{% block content %}
<main style="background-color:black;">
    <nav>
        <div class="d-flex flex-row justify-content-between px-4 pt-2 fixed-top">
            <div class="logo">
                {% load static %}
                <img src="{% static 'assets/netflix_logof.png' %}" alt="logo" class="img-fluid" style="height:10vh;">
            </div>
            <div class="signinbtn">
                <a href=""><button class="btn "style="background-color:rgb(228,8,20);color:white;">sign in</button></a>
            </div>
        </div>
    </nav>
    
    <section style="background-image: url({% static 'assets/cover_start.jpg' %});background-repeat: no-repeat;
    background-size: cover;opacity: 0.7;">
    <br><br><br><br><br><br><br><br>
     <div class="container text-white text-center">
        <p class="fs-1 fw-bold">Unlimited movies, TV <br> shows, and more.</p>
        <p class="fs-5 fw-bold">Watch anywhere. Cancel anytime.</p>
        <p>Ready to watch? Enter your email to create or restart your membership.</p>
        <form action="">
            <input type="email" name="email" id="email">
            <button class="btn "style="background-color:rgb(228,8,20);color:white;">Get Started<i class="bi bi-play"></i></button>
        </form>
     </div>
     <br><br><br><br><br><br>
    </section>
    <section class="container">
        <div class="container d-flex">
            
            <div class="text-start text-white">
                <br><br><br>
                <p class="p-2 fs-1 fw-bold">Enjoy on your TV.</p>
                <p>Watch on Smart TVs, Playstation, Xbox,<br> Chromecast, Apple TV, Blu-ray players, and<br> more.</p>
                <br><br><br>
            </div>
            <div class="pic-start p-4">
                <img src="{% static 'assets/netflix_logof.png' %}" alt="logo" class="img-fluid p-4" >
            </div>
        </div>
    </section>
{% comment %} <div class="our-story-card-animation" data-uia="our-story-card-animation">
    <div class="our-story-card-animation-image">
        <img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png">
    </div><div class="our-story-card-animation-text">
        <div id="" class="text-0" data-uia="">Stranger Things</div>
        <div id="" class="text-1" data-uia="">Downloading...</div>
    </div>
    <div class="our-story-card-animation-custom" data-uia="our-story-card-custom" aria-hidden="true">

    </div>
</div> {% endcomment %}
</main>
{% endblock %}
